openapi: 3.0.0
info:
  title: Skyhitz Public Content API (Discovery)
  version: 1.0.0
  description: |
    Public API specification for Skyhitz content discovery.
    
    Skyhitz is a decentralized music NFT marketplace built on Stellar blockchain.
    Users can discover, collect, stream, and invest in curated music NFTs.
    
    Features:
    - Music NFT marketplace with fractional ownership
    - Staking and earning rewards
    - Free music downloads
    - Interactive trending charts
    - Non-custodial Stellar wallets
    
  contact:
    name: Skyhitz Support
    email: support@skyhitz.io
    url: https://skyhitz.io
  license:
    name: Proprietary
servers:
  - url: https://skyhitz.io
    description: Production server
  - url: /
    description: Relative paths
externalDocs:
  description: Developer Documentation
  url: https://docs.skyhitz.io
paths:
  /:
    get:
      summary: Homepage
      description: Landing page featuring curated music NFTs, platform information, and featured content
      operationId: getHome
      tags:
        - Public Pages
      responses:
        '200':
          description: Homepage with featured music and platform information
          content:
            text/html:
              schema:
                type: string
  /search:
    get:
      summary: Music Search
      description: Search and discover music NFTs with filters and sorting options
      operationId: searchMusic
      tags:
        - Public Pages
        - Music Discovery
      responses:
        '200':
          description: Search interface for music discovery
          content:
            text/html:
              schema:
                type: string
  /chart:
    get:
      summary: Top Music Chart
      description: Trending music NFTs ranked by user engagement (buys, streams, likes)
      operationId: getChart
      tags:
        - Public Pages
        - Music Discovery
      responses:
        '200':
          description: Interactive chart of trending music
          content:
            text/html:
              schema:
                type: string
  /music/{id}:
    get:
      summary: Music Track Detail
      description: Detailed page for a specific music NFT with metadata, audio player, and investment options
      operationId: getMusicById
      tags:
        - Public Pages
        - Music Content
      parameters:
        - in: path
          name: id
          required: true
          description: Unique identifier for the music track
          schema:
            type: string
          example: "cly7nxwwu000008l9f06k8dgb"
      responses:
        '200':
          description: Music track detail page
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Music track not found
  /entry/{id}:
    get:
      summary: Entry Detail Page
      description: Detailed view of a platform entry (music or other content)
      operationId: getEntryById
      tags:
        - Public Pages
      parameters:
        - in: path
          name: id
          required: true
          description: Entry identifier
          schema:
            type: string
      responses:
        '200':
          description: Entry detail page
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Entry not found
  /users/{userId}:
    get:
      summary: Public User Profile
      description: View public profile of a collector/creator including their collection and activity
      operationId: getUserProfile
      tags:
        - Public Pages
        - Users
      parameters:
        - in: path
          name: userId
          required: true
          description: User identifier
          schema:
            type: string
      responses:
        '200':
          description: User profile page
          content:
            text/html:
              schema:
                type: string
        '404':
          description: User not found
  /blog:
    get:
      summary: Blog Index
      description: List of blog posts about platform updates, music industry insights, and announcements
      operationId: getBlog
      tags:
        - Public Pages
        - Content
      responses:
        '200':
          description: Blog listing page
          content:
            text/html:
              schema:
                type: string
  /blog/{slug}:
    get:
      summary: Blog Post
      description: Individual blog post content
      operationId: getBlogPost
      tags:
        - Public Pages
        - Content
      parameters:
        - in: path
          name: slug
          required: true
          description: URL-friendly blog post identifier
          schema:
            type: string
          example: "introducing-skyhitz-music-nfts"
      responses:
        '200':
          description: Blog post detail page
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Blog post not found
  /terms:
    get:
      summary: Terms of Service
      description: Platform terms and conditions
      operationId: getTerms
      tags:
        - Legal
      responses:
        '200':
          description: Terms of service page
          content:
            text/html:
              schema:
                type: string
  /privacy:
    get:
      summary: Privacy Policy
      description: Privacy policy and data handling information
      operationId: getPrivacy
      tags:
        - Legal
      responses:
        '200':
          description: Privacy policy page
          content:
            text/html:
              schema:
                type: string
  /sitemap.xml:
    get:
      summary: XML Sitemap
      description: Sitemap for search engines and crawlers
      operationId: getSitemap
      tags:
        - SEO
      responses:
        '200':
          description: XML sitemap
          content:
            application/xml:
              schema:
                type: string
  /robots.txt:
    get:
      summary: Robots.txt
      description: Crawling instructions for bots and search engines
      operationId: getRobots
      tags:
        - SEO
      responses:
        '200':
          description: Robots.txt file
          content:
            text/plain:
              schema:
                type: string
  /llms.txt:
    get:
      summary: LLMs.txt
      description: Information file for Large Language Models and AI assistants
      operationId: getLlmsTxt
      tags:
        - SEO
        - AI
      responses:
        '200':
          description: LLMs.txt file with platform information
          content:
            text/plain:
              schema:
                type: string
  /.well-known/ai-plugin.json:
    get:
      summary: AI Plugin Manifest
      description: ChatGPT plugin manifest for AI integration
      operationId: getAiPlugin
      tags:
        - AI
      responses:
        '200':
          description: AI plugin manifest
          content:
            application/json:
              schema:
                type: object
  /.well-known/llm-manifest.json:
    get:
      summary: LLM Manifest
      description: Manifest describing LLM capabilities and endpoints
      operationId: getLlmManifest
      tags:
        - AI
      responses:
        '200':
          description: LLM manifest JSON
          content:
            application/json:
              schema:
                type: object
tags:
  - name: Public Pages
    description: Publicly accessible pages
  - name: Music Discovery
    description: Music search and discovery features
  - name: Music Content
    description: Individual music tracks and details
  - name: Users
    description: User profiles and collections
  - name: Content
    description: Blog and informational content
  - name: Legal
    description: Legal documents and policies
  - name: SEO
    description: Search engine optimization resources
  - name: AI
    description: AI and LLM integration resources

